html, body {
    margin: 0;
    height: 100%;
}

body {
  font-family: helvetica;
  font-weight: 100;
  font-size: 14px;
  margin: 0 auto;
  background: #FFFFFF;
}

/*Маленький зеленый кружок с текстом*/
.green-bubble{
  background: rgba(132,192,90,1);
  color: #FFFFFF;

  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: 200;

  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/*Синий кружок с текстом*/
.blue-bubble{
  background: #00ACF0 ;
  color: #fff;

  font-size: 15px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  text-align: center;
  font-weight: 200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/*Серый текст для заголовков и не главных надписей*/
.grey-text{
  color: #848484;
}

/*Верхняя часть navigation view*/
.navigation-topbar {
  background: rgba(0, 172,240,1);
  color: white;
  font-family: calibri light;
  font-size: 19px;
}
.navigation-topbar-main-text {
  padding: 10px;
}
.navigation-topbar-secondary-text {
  padding-top: 10px;
  padding-left: 10px;
}

/*Список с элементами navigation view*/
.navigation-view {
  overflow-y: auto;
  padding-left:10px;
  padding-right:10px;
  padding-top: 5px;
}
.navigation-item-wo-border{
  list-style: none; 
  padding: 10px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  border-left: none;
  border-right: none;
  border-top: none;
}
.navigation-item-header{
  padding-bottom: 20px;
}
.float-left{
  float: left;
  position: relative;
}
.navigation-item-wo-intend {
  display: table;
  list-style: none; 
  padding: 10px;
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.navigation-item-content{
  display: table-cell;
  vertical-align: middle;
}
.navigation-item-right-item{
  display: table-cell;
  line-height: 40px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.navigation-item-middle-item{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  padding-left: 20px;
}
.navigation-item-main-text {
  text-decoration: none;
  color: black;
}
.navigation-item {
  display: table;
  list-style: none; 
  padding: 10px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}

/*Таблица с баллами в классах*/
.point-table-holder{
  padding-top: 10px;
  padding-bottom: 10px;
}
.points-table{
  padding-left: 30px;
}
.points-table-cell{
  width: 30px;
}

/*Список вложенный в список*/
.inner_ul {
  overflow-y: auto;
  padding: 5px;
  margin-left:-20px;
  margin-top: -10px;
}

/*Смещение для баллов, набранных в конкурсе*/
.points-bubble-position{
  float: left;
  margin-top: -13px;
  margin-left: 22px;
  vertical-align: middle;
}

/*Поле ввода для поиска всегд вверху экрана*/
.search-bar{
  left: 0;
  right: 0;
  top:0 ;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3000;
}

/*Стиль поля поиска*/
.search-input-container {
  width: 100%;
  margin-bottom: 0px;
}
.search-input {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  font-family: calibri light; 
}

/*Класс для элемента за полем поиска*/
.dummy {
  margin-top: 75px;
}