<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"1610","fio":"Гаевая Светлана Евгеньевна","club":"YouDance","class":"B","e_points":"0","d_points":"15","c_points":"12","b_points":"0","a_points":"0","class_dnd":"M","bg_points":"0","rs_points":"0","m_points":"0","s_points":"0","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"135","name":"Летний Кубок г.Минск","date":"2014.06.21","type":"pair"},
{"id":"140","name":"Чемпионат Москвы 2014","date":"2014.05.17","type":"pair"},
{"id":"155","name":"Кубок Движения г.Москва","date":"2014.01.25","type":"pair"},
{"id":"157","name":"Чемпионат России 2013 г.Москва","date":"2013.12.14","type":"pair"},
{"id":"165","name":"Кубок Буревестника 2013","date":"2013.10.26","type":"pair"},
{"id":"221","name":"Командное первенство 2012","date":"2012.06.02","type":"pair"},
{"id":"222","name":"Чемпионат Москвы 2012","date":"2012.05.26","type":"pair"},
{"id":"246","name":"Буревестник 2011","date":"2011.11.26","type":"pair"},
{"id":"270","name":"Командное первенство 2011","date":"2011.05.28","type":"pair"},
{"id":"279","name":"Кубок АСХ","date":"2011.03.20","type":"pair"},
{"id":"282","name":"Весенний Кубок Сокольников","date":"2011.03.07","type":"pair"},
{"id":"283","name":"Зимний Кубок СПб","date":"2011.02.27","type":"pair"},
{"id":"287","name":"Кубок Чемпионов 2","date":"2011.02.06","type":"pair"},
{"id":"288","name":"Дебют-2011","date":"2011.01.23","type":"pair"},
{"id":"293","name":"Чемпионат России + Будущ.чемпионы","date":"2010.11.20","type":"pair"},
{"id":"298","name":"Надежды России","date":"2010.10.23","type":"pair"},
{"id":"302","name":"Кубок Лета 2010 (2й тур)","date":"2010.09.05","type":"pair"},
{"id":"306","name":"Командное Первенство","date":"2010.06.06","type":"pair"},
{"id":"307","name":"Чемпионат Москвы","date":"2010.05.29","type":"pair"},
{"id":"309","name":"Куб.Великого Новгорода","date":"2010.05.22","type":"pair"},
{"id":"310","name":"Держи Ритм 11","date":"2010.05.16","type":"pair"},
{"id":"312","name":"Кубок Салюта","date":"2010.04.25","type":"pair"},
{"id":"314","name":"Кубок Поволжья","date":"2010.04.10","type":"pair"},
{"id":"315","name":"Звезды Хастл","date":"2010.04.04","type":"pair"},
{"id":"321","name":"Кубок Св.Вал.","date":"2010.02.13","type":"pair"},
{"id":"322","name":"Кубок Чемпионов","date":"2010.01.31","type":"pair"},
{"id":"324","name":"Дебют","date":"2010.01.17","type":"pair"},
{"id":"327","name":"Чемпионат России 2009 г.Москва","date":"2009.11.21","type":"pair"},
{"id":"331","name":"Кубок Октября","date":"2009.10.18","type":"pair"},
{"id":"332","name":"Осенний Кубок","date":"2009.10.04","type":"pair"},
{"id":"334","name":"Открытие Сезона","date":"2009.08.30","type":"pair"},
{"id":"335","name":"Держи ритм","date":"2009.08.23","type":"pair"},
{"id":"338","name":"Чемпионат Москвы 2009","date":"2009.05.23","type":"pair"},
{"id":"339","name":"EuroDance","date":"2009.05.10","type":"pair"},
{"id":"340","name":"Держи ритм","date":"2009.04.26","type":"pair"},
{"id":"342","name":"Весенний кубок 2009","date":"2009.03.22","type":"pair"},
{"id":"344","name":"Звезды Хастла 2009","date":"2009.03.01","type":"pair"},
{"id":"346","name":"Держи ритм","date":"2009.02.01","type":"pair"},
{"id":"347","name":"Дебют 2009","date":"2009.01.18","type":"pair"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"246","dancer_id":"1610","class":"B","result":"4/5","points":"0","partner":"0"},
{"competion_id":"279","dancer_id":"1610","class":"B","result":"6/9","points":"0","partner":"1867"},
{"competion_id":"282","dancer_id":"1610","class":"B","result":"5/6","points":"0","partner":"1867"},
{"competion_id":"287","dancer_id":"1610","class":"B","result":"8/9","points":"0","partner":"0"},
{"competion_id":"293","dancer_id":"1610","class":"B","result":"28/33","points":"0","partner":"0"},
{"competion_id":"298","dancer_id":"1610","class":"C","result":"1/12","points":"0","partner":"1795"},
{"competion_id":"302","dancer_id":"1610","class":"B","result":"3/3","points":"0","partner":"1902"},
{"competion_id":"309","dancer_id":"1610","class":"C","result":"4/7","points":"0","partner":"1592"},
{"competion_id":"312","dancer_id":"1610","class":"C","result":"3/9","points":"1","partner":"1867"},
{"competion_id":"321","dancer_id":"1610","class":"C","result":"6/7","points":"0","partner":"0"},
{"competion_id":"327","dancer_id":"1610","class":"C","result":"24/41","points":"0","partner":"0"},
{"competion_id":"332","dancer_id":"1610","class":"C","result":"7/8","points":"0","partner":"0"},
{"competion_id":"221","dancer_id":"1610","class":"B","result":"6/7","points":"0","partner":"1867"},
{"competion_id":"222","dancer_id":"1610","class":"B","result":"14/18","points":"0","partner":"0"},
{"competion_id":"270","dancer_id":"1610","class":"B","result":"9/13","points":"0","partner":"1867"},
{"competion_id":"283","dancer_id":"1610","class":"B","result":"5/5","points":"0","partner":"1867"},
{"competion_id":"288","dancer_id":"1610","class":"B","result":"4/5","points":"0","partner":"1867"},
{"competion_id":"306","dancer_id":"1610","class":"C","result":"5/12","points":"1","partner":"1592"},
{"competion_id":"307","dancer_id":"1610","class":"C","result":"9/19","points":"1","partner":"0"},
{"competion_id":"310","dancer_id":"1610","class":"C","result":"1/11","points":"4","partner":"1867"},
{"competion_id":"314","dancer_id":"1610","class":"C","result":"2/5","points":"1","partner":"1592"},
{"competion_id":"315","dancer_id":"1610","class":"C","result":"8/26","points":"2","partner":"1592"},
{"competion_id":"322","dancer_id":"1610","class":"C","result":"7/16","points":"1","partner":"1592"},
{"competion_id":"324","dancer_id":"1610","class":"C","result":"5/11","points":"1","partner":"1592"},
{"competion_id":"331","dancer_id":"1610","class":"C","result":"5/9","points":"0","partner":"1592"},
{"competion_id":"334","dancer_id":"1610","class":"C","result":"10/16","points":"0","partner":"1592"},
{"competion_id":"335","dancer_id":"1610","class":"D","result":"5/42","points":"4","partner":"1592"},
{"competion_id":"338","dancer_id":"1610","class":"D","result":"11/39","points":"1","partner":"0"},
{"competion_id":"339","dancer_id":"1610","class":"D","result":"3/10","points":"2","partner":"1592"},
{"competion_id":"340","dancer_id":"1610","class":"D","result":"7/43","points":"3","partner":"1592"},
{"competion_id":"342","dancer_id":"1610","class":"D","result":"20/49","points":"2","partner":"1592"},
{"competion_id":"344","dancer_id":"1610","class":"D","result":"6/37","points":"3","partner":"1592"},
{"competion_id":"346","dancer_id":"1610","class":"D","result":"28/43","points":"0","partner":"0"},
{"competion_id":"347","dancer_id":"1610","class":"D","result":"39/49","points":"0","partner":"0"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[{"competion_id":"135","dancer_id":"1610","class":"B","result":"6/7","points":"0"},
{"competion_id":"140","dancer_id":"1610","class":"B","result":"7/15","points":"0"},
{"competion_id":"155","dancer_id":"1610","class":"B","result":"3/7","points":"0"},
{"competion_id":"157","dancer_id":"1610","class":"B","result":"7/16","points":"0"},
{"competion_id":"165","dancer_id":"1610","class":"B","result":"7/12","points":"0"}]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>