<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"1902","fio":"Дьяченко Николай Юрьевич","club":"YouDance (г.СПб)","class":"A","e_points":"0","d_points":"0","c_points":"15","b_points":"12","a_points":"0","class_dnd":"S","bg_points":"0","rs_points":"0","m_points":"0","s_points":"4","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"12","name":"Hustle&Discofox Festival Cup г.Москва","date":"2016.10.08","type":"pair"},
{"id":"21","name":"Старшип 2016 г.СПб","date":"2016.07.30","type":"pair"},
{"id":"25","name":"Кубок белых ночей г.СПб","date":"2016.06.25","type":"pair"},
{"id":"53","name":"Ураган 2016 г.Москва","date":"2016.01.04","type":"pair"},
{"id":"57","name":"Чемпионат России 2015 г.Москва","date":"2015.12.05","type":"pair"},
{"id":"111","name":"Чемпионат России 2014 г.Москва","date":"2014.12.06","type":"pair"},
{"id":"125","name":"H&D Festival Cup г.Москва","date":"2014.09.20","type":"pair"},
{"id":"126","name":"Открытие сезона г.Москва","date":"2014.09.06","type":"pair"},
{"id":"143","name":"Чемпионат Санкт-Петербурга","date":"2014.05.02","type":"pair"},
{"id":"157","name":"Чемпионат России 2013 г.Москва","date":"2013.12.14","type":"pair"},
{"id":"243","name":"Чемпионат России 2011","date":"2011.12.10","type":"pair"},
{"id":"270","name":"Командное первенство 2011","date":"2011.05.28","type":"pair"},
{"id":"273","name":"Чемпионат Москвы 2011","date":"2011.05.14","type":"pair"},
{"id":"293","name":"Чемпионат России + Будущ.чемпионы","date":"2010.11.20","type":"pair"},
{"id":"299","name":"Кубок ОДС","date":"2010.10.17","type":"pair"},
{"id":"302","name":"Кубок Лета 2010 (2й тур)","date":"2010.09.05","type":"pair"},
{"id":"303","name":"Открытие сезона","date":"2010.08.29","type":"pair"},
{"id":"307","name":"Чемпионат Москвы","date":"2010.05.29","type":"pair"},
{"id":"309","name":"Куб.Великого Новгорода","date":"2010.05.22","type":"pair"},
{"id":"313","name":"Кубок Сев.Стол.","date":"2010.04.17","type":"pair"},
{"id":"315","name":"Звезды Хастл","date":"2010.04.04","type":"pair"},
{"id":"322","name":"Кубок Чемпионов","date":"2010.01.31","type":"pair"},
{"id":"323","name":"Зимн.Кубок СПБ","date":"2010.01.23","type":"pair"},
{"id":"327","name":"Чемпионат России 2009 г.Москва","date":"2009.11.21","type":"pair"},
{"id":"334","name":"Открытие Сезона","date":"2009.08.30","type":"pair"},
{"id":"12","name":"Hustle&Discofox Festival Cup г.Москва","date":"2016.10.09","type":"jnj"},
{"id":"21","name":"Старшип 2016 г.СПб","date":"2016.07.30","type":"jnj"},
{"id":"25","name":"Кубок белых ночей г.СПб","date":"2016.06.25","type":"jnj"},
{"id":"53","name":"Ураган 2016 г.Москва","date":"2016.01.04","type":"jnj"},
{"id":"57","name":"Чемпионат России 2015 г.Москва","date":"2015.12.05","type":"jnj"},
{"id":"111","name":"Чемпионат России 2014 г.Москва","date":"2014.12.07","type":"jnj"},
{"id":"125","name":"Открытие сезона г.Москва","date":"2014.09.06","type":"jnj"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"126","dancer_id":"1902","class":"A","result":"5/5","points":"0","partner":"1700"},
{"competion_id":"243","dancer_id":"1902","class":"A","result":"18/19","points":"0","partner":"1659"},
{"competion_id":"293","dancer_id":"1902","class":"B","result":"3/30","points":"4","partner":"1659"},
{"competion_id":"302","dancer_id":"1902","class":"B","result":"3/3","points":"0","partner":"1610"},
{"competion_id":"303","dancer_id":"1902","class":"B","result":"1/5","points":"2","partner":"1659"},
{"competion_id":"309","dancer_id":"1902","class":"B","result":"1/1","points":"0","partner":"1659"},
{"competion_id":"313","dancer_id":"1902","class":"B","result":"1/2","points":"0","partner":"2396"},
{"competion_id":"327","dancer_id":"1902","class":"C","result":"10/46","points":"2","partner":"0"},
{"competion_id":"270","dancer_id":"1902","class":"B","result":"4/13","points":"2","partner":"1659"},
{"competion_id":"273","dancer_id":"1902","class":"B","result":"5/21","points":"2","partner":"1659"},
{"competion_id":"299","dancer_id":"1902","class":"B","result":"2/5","points":"1","partner":"1659"},
{"competion_id":"307","dancer_id":"1902","class":"B","result":"4/10","points":"1","partner":"1659"},
{"competion_id":"315","dancer_id":"1902","class":"C","result":"1/26","points":"5","partner":"1659"},
{"competion_id":"322","dancer_id":"1902","class":"C","result":"2/16","points":"3","partner":"1659"},
{"competion_id":"323","dancer_id":"1902","class":"C","result":"1/5","points":"2","partner":"1659"},
{"competion_id":"334","dancer_id":"1902","class":"C","result":"3/16","points":"3","partner":"1659"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[{"competion_id":"12","dancer_id":"1902","class":"S","result":"1/8","points":"2"},
{"competion_id":"21","dancer_id":"1902","class":"S","result":"2/5","points":"0"},
{"competion_id":"25","dancer_id":"1902","class":"S","result":"1/2","points":"0"},
{"competion_id":"53","dancer_id":"1902","class":"S","result":"10/11","points":"0"},
{"competion_id":"57","dancer_id":"1902","class":"S","result":"13/14","points":"0"},
{"competion_id":"111","dancer_id":"1902","class":"S","result":"6/15","points":"0"},
{"competion_id":"125","dancer_id":"1902","class":"S","result":"1/8","points":"2"},
{"competion_id":"143","dancer_id":"1902","class":"A","result":"1/1","points":"0"},
{"competion_id":"157","dancer_id":"1902","class":"A","result":"3/14","points":"0"}]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>