<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"2016","fio":"Эрлих Марина Андреевна","club":"Вираж (г.Новосибирск)","class":"B","e_points":"0","d_points":"0","c_points":"14","b_points":"0","a_points":"0","class_dnd":"M","bg_points":"0","rs_points":"0","m_points":"0","s_points":"0","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"109","name":"Открытый Кубок г.Новосибирск","date":"2014.12.13","type":"pair"},
{"id":"147","name":"Кубок Движения г.Красноярск","date":"2014.03.22","type":"pair"},
{"id":"159","name":"Открытый Кубок г.Новосибирска","date":"2013.11.30","type":"pair"},
{"id":"164","name":"Чемпионат Сибири г.Красноярск","date":"2013.11.02","type":"pair"},
{"id":"171","name":"Летний Кубок г.Новосибирск","date":"2013.08.24","type":"pair"},
{"id":"174","name":"На пути к звездам г.Красноярск","date":"2013.06.08","type":"pair"},
{"id":"178","name":"Кубок Ренессанса 2013 г.Барнаул","date":"2013.05.04","type":"pair"},
{"id":"224","name":"Кубок Ренессанса г.Барнаул","date":"2012.04.29","type":"pair"},
{"id":"232","name":"Кубок КХК Движение Красноярск","date":"2012.03.09","type":"pair"},
{"id":"243","name":"Чемпионат России 2011","date":"2011.12.10","type":"pair"},
{"id":"244","name":"Открытый кубок Новосибирска","date":"2011.12.03","type":"pair"},
{"id":"293","name":"Чемпионат России + Будущ.чемпионы","date":"2010.11.20","type":"pair"},
{"id":"296","name":"Кубок Сибири","date":"2010.11.06","type":"pair"},
{"id":"308","name":"На пути к Звездам","date":"2010.05.29","type":"pair"},
{"id":"311","name":"Куб.Ренессанса","date":"2010.05.02","type":"pair"},
{"id":"318","name":"Кубок Движения Красноярск","date":"2010.03.14","type":"pair"},
{"id":"329","name":"Чемпионат Сибири","date":"2009.11.01","type":"pair"},
{"id":"109","name":"Открытый Кубок г.Новосибирск","date":"2014.12.13","type":"jnj"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"109","dancer_id":"2016","class":"B","result":"5/7","points":"0","partner":"1686"},
{"competion_id":"147","dancer_id":"2016","class":"B","result":"6/10","points":"0","partner":"5718"},
{"competion_id":"174","dancer_id":"2016","class":"C","result":"12/12","points":"0","partner":"0"},
{"competion_id":"178","dancer_id":"2016","class":"B","result":"10/10","points":"0","partner":"0"},
{"competion_id":"224","dancer_id":"2016","class":"B","result":"9/9","points":"0","partner":"0"},
{"competion_id":"232","dancer_id":"2016","class":"B","result":"8/12","points":"0","partner":"1483"},
{"competion_id":"243","dancer_id":"2016","class":"B","result":"31/34","points":"0","partner":"0"},
{"competion_id":"244","dancer_id":"2016","class":"B","result":"11/11","points":"0","partner":"0"},
{"competion_id":"293","dancer_id":"2016","class":"B","result":"36/38","points":"0","partner":"0"},
{"competion_id":"296","dancer_id":"2016","class":"C","result":"1/18","points":"5","partner":"1986"},
{"competion_id":"308","dancer_id":"2016","class":"C","result":"1/7","points":"3","partner":"1986"},
{"competion_id":"311","dancer_id":"2016","class":"C","result":"6/16","points":"1","partner":"0"},
{"competion_id":"318","dancer_id":"2016","class":"C","result":"3/18","points":"3","partner":"1986"},
{"competion_id":"329","dancer_id":"2016","class":"C","result":"8/26","points":"2","partner":"0"},
{"competion_id":"159","dancer_id":"2016","class":"C","result":"2/12","points":"0","partner":"0"},
{"competion_id":"164","dancer_id":"2016","class":"C","result":"4/14","points":"0","partner":"5718"},
{"competion_id":"171","dancer_id":"2016","class":"C","result":"3/6","points":"0","partner":"5718"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>