<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"2179","fio":"Бекетова Алла Владимировна","club":"Хастл-Центр,Динамика","class":"D","e_points":"0","d_points":"2","c_points":"0","b_points":"0","a_points":"0","class_dnd":"Bg","bg_points":"1","rs_points":"0","m_points":"0","s_points":"0","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"86","name":"Командное Первенство 2015 г.Москва","date":"2015.05.30","type":"pair"},
{"id":"88","name":"Чемпионат Москвы 2015 г.Москва","date":"2015.05.10","type":"pair"},
{"id":"93","name":"Весенние Огни г.Москва","date":"2015.04.11","type":"pair"},
{"id":"105","name":"Динамиада 2015 г.Москва","date":"2015.02.07","type":"pair"},
{"id":"111","name":"Чемпионат России 2014 г.Москва","date":"2014.12.06","type":"pair"},
{"id":"138","name":"Командное Первенство г.Москва","date":"2014.05.31","type":"pair"},
{"id":"140","name":"Чемпионат Москвы 2014","date":"2014.05.17","type":"pair"},
{"id":"146","name":"Танцевальный район г.Москва","date":"2014.03.29","type":"pair"},
{"id":"154","name":"Кубок Чемпионов г.Москва","date":"2014.02.08","type":"pair"},
{"id":"155","name":"Кубок Движения г.Москва","date":"2014.01.25","type":"pair"},
{"id":"165","name":"Кубок Буревестника 2013","date":"2013.10.26","type":"pair"},
{"id":"175","name":"Командное первенство г.Москва","date":"2013.06.01","type":"pair"},
{"id":"186","name":"Кубок АСХ 2013 г.Москва","date":"2013.03.16","type":"pair"},
{"id":"191","name":"Кубок Чемпионов г.Москва","date":"2013.02.02","type":"pair"},
{"id":"196","name":"Держи Ритм г.Москва","date":"2012.12.02","type":"pair"},
{"id":"202","name":"Надежды России г.Москва","date":"2012.10.27","type":"pair"},
{"id":"204","name":"Star Cup г.Москва","date":"2012.10.21","type":"pair"},
{"id":"209","name":"Grand Prix г.Москва","date":"2012.09.23","type":"pair"},
{"id":"211","name":"Открытие сезона г.Москва","date":"2012.09.08","type":"pair"},
{"id":"217","name":"Red Cup","date":"2012.06.24","type":"pair"},
{"id":"221","name":"Командное первенство 2012","date":"2012.06.02","type":"pair"},
{"id":"222","name":"Чемпионат Москвы 2012","date":"2012.05.26","type":"pair"},
{"id":"231","name":"Кубок АСХ 2012","date":"2012.03.10","type":"pair"},
{"id":"236","name":"Зимний Кубок Vestadance","date":"2012.02.19","type":"pair"},
{"id":"238","name":"Кубок Чемпионов","date":"2012.02.04","type":"pair"},
{"id":"243","name":"Чемпионат России 2011","date":"2011.12.10","type":"pair"},
{"id":"246","name":"Буревестник 2011","date":"2011.11.26","type":"pair"},
{"id":"257","name":"Динамиада","date":"2011.09.18","type":"pair"},
{"id":"267","name":"Динамиада","date":"2011.06.19","type":"pair"},
{"id":"270","name":"Командное первенство 2011","date":"2011.05.28","type":"pair"},
{"id":"272","name":"Весенний Кубок VestaDance","date":"2011.05.22","type":"pair"},
{"id":"273","name":"Чемпионат Москвы 2011","date":"2011.05.14","type":"pair"},
{"id":"279","name":"Кубок АСХ","date":"2011.03.20","type":"pair"},
{"id":"285","name":"Держи Ритм 14","date":"2011.02.13","type":"pair"},
{"id":"287","name":"Кубок Чемпионов 2","date":"2011.02.06","type":"pair"},
{"id":"288","name":"Дебют-2011","date":"2011.01.23","type":"pair"},
{"id":"293","name":"Чемпионат России + Будущ.чемпионы","date":"2010.11.20","type":"pair"},
{"id":"297","name":"Осенний Кубок","date":"2010.10.31","type":"pair"},
{"id":"300","name":"Держи Ритм 13","date":"2010.10.10","type":"pair"},
{"id":"305","name":"Держи Ритм 12","date":"2010.06.27","type":"pair"},
{"id":"306","name":"Командное Первенство","date":"2010.06.06","type":"pair"},
{"id":"310","name":"Держи Ритм 11","date":"2010.05.16","type":"pair"},
{"id":"315","name":"Звезды Хастл","date":"2010.04.04","type":"pair"},
{"id":"317","name":"Весенний Кубок","date":"2010.03.21","type":"pair"},
{"id":"319","name":"Кубок АСХ","date":"2010.03.06","type":"pair"},
{"id":"322","name":"Кубок Чемпионов","date":"2010.01.31","type":"pair"},
{"id":"324","name":"Дебют","date":"2010.01.17","type":"pair"},
{"id":"86","name":"Командное Первенство 2015 г.Москва","date":"2015.05.30","type":"jnj"},
{"id":"88","name":"Чемпионат Москвы 2015 г.Москва","date":"2015.05.11","type":"jnj"},
{"id":"93","name":"Весенние Огни г.Москва","date":"2015.04.11","type":"jnj"},
{"id":"105","name":"Динамиада 2015 г.Москва","date":"2015.02.07","type":"jnj"},
{"id":"111","name":"Чемпионат России 2014 г.Москва","date":"2014.12.07","type":"jnj"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"86","dancer_id":"2179","class":"D","result":"37/37","points":"0","partner":"0"},
{"competion_id":"88","dancer_id":"2179","class":"D","result":"44/49","points":"0","partner":"0"},
{"competion_id":"93","dancer_id":"2179","class":"D","result":"22/28","points":"0","partner":"0"},
{"competion_id":"105","dancer_id":"2179","class":"D","result":"23/25","points":"0","partner":"0"},
{"competion_id":"138","dancer_id":"2179","class":"D","result":"31/46","points":"0","partner":"0"},
{"competion_id":"140","dancer_id":"2179","class":"D","result":"36/55","points":"0","partner":"2164"},
{"competion_id":"146","dancer_id":"2179","class":"D","result":"22/22","points":"0","partner":"0"},
{"competion_id":"154","dancer_id":"2179","class":"D","result":"21/25","points":"0","partner":"0"},
{"competion_id":"155","dancer_id":"2179","class":"D","result":"15/19","points":"0","partner":"2164"},
{"competion_id":"165","dancer_id":"2179","class":"D","result":"11/19","points":"0","partner":"0"},
{"competion_id":"175","dancer_id":"2179","class":"D","result":"20/33","points":"0","partner":"0"},
{"competion_id":"186","dancer_id":"2179","class":"D","result":"26/37","points":"0","partner":"0"},
{"competion_id":"191","dancer_id":"2179","class":"D","result":"20/32","points":"0","partner":"0"},
{"competion_id":"196","dancer_id":"2179","class":"D","result":"7/10","points":"0","partner":"2164"},
{"competion_id":"202","dancer_id":"2179","class":"D","result":"9/19","points":"1","partner":"0"},
{"competion_id":"204","dancer_id":"2179","class":"D","result":"16/20","points":"0","partner":"0"},
{"competion_id":"209","dancer_id":"2179","class":"D","result":"13/15","points":"0","partner":"0"},
{"competion_id":"211","dancer_id":"2179","class":"D","result":"24/29","points":"0","partner":"2164"},
{"competion_id":"217","dancer_id":"2179","class":"D","result":"14/16","points":"0","partner":"0"},
{"competion_id":"221","dancer_id":"2179","class":"D","result":"26/34","points":"0","partner":"0"},
{"competion_id":"222","dancer_id":"2179","class":"D","result":"46/79","points":"0","partner":"0"},
{"competion_id":"231","dancer_id":"2179","class":"D","result":"21/24","points":"0","partner":"0"},
{"competion_id":"236","dancer_id":"2179","class":"D","result":"16/19","points":"0","partner":"0"},
{"competion_id":"238","dancer_id":"2179","class":"D","result":"19/26","points":"0","partner":"0"},
{"competion_id":"243","dancer_id":"2179","class":"D","result":"66/72","points":"0","partner":"0"},
{"competion_id":"246","dancer_id":"2179","class":"D","result":"27/32","points":"0","partner":"0"},
{"competion_id":"257","dancer_id":"2179","class":"D","result":"11/11","points":"0","partner":"0"},
{"competion_id":"267","dancer_id":"2179","class":"D","result":"12/14","points":"0","partner":"0"},
{"competion_id":"270","dancer_id":"2179","class":"D","result":"32/35","points":"0","partner":"0"},
{"competion_id":"272","dancer_id":"2179","class":"D","result":"25/26","points":"0","partner":"0"},
{"competion_id":"273","dancer_id":"2179","class":"D","result":"51/56","points":"0","partner":"0"},
{"competion_id":"279","dancer_id":"2179","class":"D","result":"9/18","points":"1","partner":"0"},
{"competion_id":"285","dancer_id":"2179","class":"D","result":"20/24","points":"0","partner":"0"},
{"competion_id":"287","dancer_id":"2179","class":"D","result":"36/43","points":"0","partner":"0"},
{"competion_id":"288","dancer_id":"2179","class":"D","result":"22/28","points":"0","partner":"0"},
{"competion_id":"293","dancer_id":"2179","class":"D","result":"31/57","points":"0","partner":"0"},
{"competion_id":"297","dancer_id":"2179","class":"D","result":"18/26","points":"0","partner":"0"},
{"competion_id":"300","dancer_id":"2179","class":"D","result":"18/21","points":"0","partner":"0"},
{"competion_id":"305","dancer_id":"2179","class":"D","result":"21/31","points":"0","partner":"0"},
{"competion_id":"306","dancer_id":"2179","class":"D","result":"39/39","points":"0","partner":"0"},
{"competion_id":"310","dancer_id":"2179","class":"D","result":"38/45","points":"0","partner":"0"},
{"competion_id":"315","dancer_id":"2179","class":"D","result":"44/61","points":"0","partner":"0"},
{"competion_id":"317","dancer_id":"2179","class":"D","result":"26/26","points":"0","partner":"0"},
{"competion_id":"319","dancer_id":"2179","class":"D","result":"51/52","points":"0","partner":"0"},
{"competion_id":"322","dancer_id":"2179","class":"D","result":"25/46","points":"0","partner":"0"},
{"competion_id":"324","dancer_id":"2179","class":"D","result":"29/38","points":"0","partner":"0"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[{"competion_id":"86","dancer_id":"2179","class":"Bg","result":"79/102","points":"0"},
{"competion_id":"88","dancer_id":"2179","class":"Bg","result":"63/118","points":"0"},
{"competion_id":"93","dancer_id":"2179","class":"Bg","result":"60/109","points":"0"},
{"competion_id":"105","dancer_id":"2179","class":"Bg","result":"29/113","points":"1"},
{"competion_id":"111","dancer_id":"2179","class":"Bg","result":"73/118","points":"0"}]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>