<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"2335","fio":"Виноградова Серафима Павловна","club":"Чердак (г.Красноярск)","class":"B","e_points":"0","d_points":"11","c_points":"9","b_points":"3","a_points":"0","class_dnd":"M","bg_points":"0","rs_points":"0","m_points":"2","s_points":"0","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"12","name":"Hustle&Discofox Festival Cup г.Москва","date":"2016.10.08","type":"pair"},
{"id":"18","name":"Открытый Кубок 2016 г.Новосибирск","date":"2016.08.27","type":"pair"},
{"id":"28","name":"На пути к звездам г.Красноярск","date":"2016.06.04","type":"pair"},
{"id":"33","name":"Кубок Красноярска г. Красноярск","date":"2016.05.07","type":"pair"},
{"id":"34","name":"UralFest 2016 г.Екатеринбург","date":"2016.05.01","type":"pair"},
{"id":"38","name":"СуперЛига Сибири г.Новосибирск","date":"2016.04.09","type":"pair"},
{"id":"46","name":"Февральский марафон 2016 г.Новосибирск","date":"2016.02.21","type":"pair"},
{"id":"81","name":"Хастл над Енисеем г.Красноярск","date":"2015.06.21","type":"pair"},
{"id":"84","name":"На пути к звездам г.Красноярск ","date":"2015.06.06","type":"pair"},
{"id":"89","name":"Чемпионат Урала г.Екатеринбург","date":"2015.05.02","type":"pair"},
{"id":"91","name":"СуперЛига Сибири г.Новосибирск","date":"2015.04.18","type":"pair"},
{"id":"99","name":"Открытый кубок Движения г.Красноярск","date":"2015.03.14","type":"pair"},
{"id":"116","name":"Чемпионат Сибири г. Красноярск","date":"2014.11.01","type":"pair"},
{"id":"127","name":"Летний Кубок Сибири г.Новосибирск","date":"2014.08.30","type":"pair"},
{"id":"136","name":"На пути к звездам г.Красноярск","date":"2014.06.08","type":"pair"},
{"id":"142","name":"Кубок Ренессанса 2014 г.Барнаул","date":"2014.05.03","type":"pair"},
{"id":"147","name":"Кубок Движения г.Красноярск","date":"2014.03.22","type":"pair"},
{"id":"159","name":"Открытый Кубок г.Новосибирска","date":"2013.11.30","type":"pair"},
{"id":"164","name":"Чемпионат Сибири г.Красноярск","date":"2013.11.02","type":"pair"},
{"id":"174","name":"На пути к звездам г.Красноярск","date":"2013.06.08","type":"pair"},
{"id":"184","name":"Nord Cup г.Санкт-Петербург","date":"2013.03.23","type":"pair"},
{"id":"193","name":"Звезды Сибири г.Новосибирск","date":"2012.12.15","type":"pair"},
{"id":"200","name":"Чемпионат Сибири г.Красноярск","date":"2012.11.17","type":"pair"},
{"id":"212","name":"Летний Кубок г.Новосибирск","date":"2012.08.25","type":"pair"},
{"id":"220","name":"На пути к звездам Красноярск","date":"2012.06.02","type":"pair"},
{"id":"223","name":"Новая волна 2012 г.Новосибирск","date":"2012.05.26","type":"pair"},
{"id":"224","name":"Кубок Ренессанса г.Барнаул","date":"2012.04.29","type":"pair"},
{"id":"232","name":"Кубок КХК Движение Красноярск","date":"2012.03.09","type":"pair"},
{"id":"244","name":"Открытый кубок Новосибирска","date":"2011.12.03","type":"pair"},
{"id":"248","name":"Чемпионат Сибири Красноярск","date":"2011.11.05","type":"pair"},
{"id":"251","name":"Открытый турнир Красноярск","date":"2011.10.16","type":"pair"},
{"id":"271","name":"На пути к звёздам","date":"2011.05.28","type":"pair"},
{"id":"275","name":"Открытый турнир E+D класс","date":"2011.04.24","type":"pair"},
{"id":"286","name":"Открытый турнир г.Красноярск","date":"2011.02.06","type":"pair"},
{"id":"291","name":"Откр.Кубок Новосибирска","date":"2010.12.12","type":"pair"},
{"id":"296","name":"Кубок Сибири","date":"2010.11.06","type":"pair"},
{"id":"318","name":"Кубок Движения Красноярск","date":"2010.03.14","type":"pair"},
{"id":"12","name":"Hustle&Discofox Festival Cup г.Москва","date":"2016.10.09","type":"jnj"},
{"id":"18","name":"Открытый Кубок 2016 г.Новосибирск","date":"2016.08.28","type":"jnj"},
{"id":"28","name":"На пути к звездам г.Красноярск","date":"2016.06.04","type":"jnj"},
{"id":"33","name":"Кубок Красноярска г. Красноярск","date":"2016.05.07","type":"jnj"},
{"id":"34","name":"UralFest 2016 г.Екатеринбург","date":"2016.05.02","type":"jnj"},
{"id":"38","name":"СуперЛига Сибири г.Новосибирск","date":"2016.04.10","type":"jnj"},
{"id":"46","name":"Февральский марафон 2016 г.Новосибирск","date":"2016.02.21","type":"jnj"},
{"id":"81","name":"Хастл над Енисеем г.Красноярск","date":"2015.06.21","type":"jnj"},
{"id":"84","name":"На пути к звездам г.Красноярск ","date":"2015.06.06","type":"jnj"},
{"id":"89","name":"Чемпионат Урала г.Екатеринбург","date":"2015.05.03","type":"jnj"},
{"id":"91","name":"СуперЛига Сибири г.Новосибирск","date":"2015.04.18","type":"jnj"},
{"id":"99","name":"Открытый кубок Движения г.Красноярск","date":"2015.03.14","type":"jnj"},
{"id":"116","name":"Чемпионат Сибири г. Красноярск","date":"2014.11.01","type":"jnj"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"91","dancer_id":"2335","class":"B","result":"13/13","points":"0","partner":"5274"},
{"competion_id":"136","dancer_id":"2335","class":"C","result":"4/8","points":"0","partner":"4990"},
{"competion_id":"147","dancer_id":"2335","class":"A","result":"7/7","points":"0","partner":"1404"},
{"competion_id":"159","dancer_id":"2335","class":"B","result":"1/8","points":"3","partner":"2591"},
{"competion_id":"174","dancer_id":"2335","class":"C","result":"4/12","points":"2","partner":"2942"},
{"competion_id":"220","dancer_id":"2335","class":"C","result":"3/5","points":"0","partner":"0"},
{"competion_id":"291","dancer_id":"2335","class":"D","result":"6/38","points":"3","partner":"2951"},
{"competion_id":"116","dancer_id":"2335","class":"C","result":"7/13","points":"0","partner":"3666"},
{"competion_id":"184","dancer_id":"2335","class":"C","result":"22/31","points":"0","partner":"0"},
{"competion_id":"193","dancer_id":"2335","class":"C","result":"4/19","points":"3","partner":"2942"},
{"competion_id":"200","dancer_id":"2335","class":"C","result":"3/17","points":"3","partner":"2942"},
{"competion_id":"212","dancer_id":"2335","class":"C","result":"15/15","points":"0","partner":"3146"},
{"competion_id":"223","dancer_id":"2335","class":"C","result":"5/9","points":"0","partner":"2942"},
{"competion_id":"224","dancer_id":"2335","class":"C","result":"6/8","points":"0","partner":"3563"},
{"competion_id":"232","dancer_id":"2335","class":"C","result":"15/19","points":"0","partner":"3374"},
{"competion_id":"244","dancer_id":"2335","class":"C","result":"3/9","points":"1","partner":"1685"},
{"competion_id":"248","dancer_id":"2335","class":"D","result":"10/33","points":"1","partner":"3374"},
{"competion_id":"251","dancer_id":"2335","class":"D","result":"9/25","points":"1","partner":"0"},
{"competion_id":"271","dancer_id":"2335","class":"D","result":"12/22","points":"0","partner":"0"},
{"competion_id":"275","dancer_id":"2335","class":"D","result":"25/25","points":"0","partner":"0"},
{"competion_id":"286","dancer_id":"2335","class":"D","result":"3/21","points":"3","partner":"2951"},
{"competion_id":"296","dancer_id":"2335","class":"D","result":"5/29","points":"3","partner":"2951"},
{"competion_id":"318","dancer_id":"2335","class":"D","result":"24/24","points":"0","partner":"0"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[{"competion_id":"12","dancer_id":"2335","class":"M","result":"7/16","points":"1"},
{"competion_id":"18","dancer_id":"2335","class":"M","result":"7/11","points":"0"},
{"competion_id":"28","dancer_id":"2335","class":"M","result":"15/15","points":"0"},
{"competion_id":"33","dancer_id":"2335","class":"M","result":"5/6","points":"0"},
{"competion_id":"34","dancer_id":"2335","class":"M","result":"3/5","points":"0"},
{"competion_id":"38","dancer_id":"2335","class":"M","result":"10/13","points":"0"},
{"competion_id":"46","dancer_id":"2335","class":"M","result":"8/10","points":"0"},
{"competion_id":"81","dancer_id":"2335","class":"M","result":"4/5","points":"0"},
{"competion_id":"84","dancer_id":"2335","class":"M","result":"7/9","points":"0"},
{"competion_id":"89","dancer_id":"2335","class":"M","result":"2/7","points":"1"},
{"competion_id":"91","dancer_id":"2335","class":"M","result":"8/14","points":"0"},
{"competion_id":"99","dancer_id":"2335","class":"M","result":"8/10","points":"0"},
{"competion_id":"116","dancer_id":"2335","class":"M","result":"5/11","points":"0"},
{"competion_id":"127","dancer_id":"2335","class":"B","result":"7/7","points":"0"},
{"competion_id":"142","dancer_id":"2335","class":"B","result":"8/12","points":"0"},
{"competion_id":"164","dancer_id":"2335","class":"C","result":"6/19","points":"0"}]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>