<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"2989","fio":"Бакутов Антон Евгеньевич","club":"Мегаполис,Альтернатива","class":"C","e_points":"6","d_points":"12","c_points":"1","b_points":"0","a_points":"0","class_dnd":"RS","bg_points":"0","rs_points":"0","m_points":"0","s_points":"0","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"132","name":"Динамиада г.Москва","date":"2014.07.12","type":"pair"},
{"id":"184","name":"Nord Cup г.Санкт-Петербург","date":"2013.03.23","type":"pair"},
{"id":"186","name":"Кубок АСХ 2013 г.Москва","date":"2013.03.16","type":"pair"},
{"id":"191","name":"Кубок Чемпионов г.Москва","date":"2013.02.02","type":"pair"},
{"id":"204","name":"Star Cup г.Москва","date":"2012.10.21","type":"pair"},
{"id":"215","name":"EnergyCup","date":"2012.07.22","type":"pair"},
{"id":"226","name":"Весенний Кубок","date":"2012.04.22","type":"pair"},
{"id":"227","name":"Кубок Северной Столицы","date":"2012.04.14","type":"pair"},
{"id":"229","name":"Кубок Мечты","date":"2012.03.25","type":"pair"},
{"id":"231","name":"Кубок АСХ 2012","date":"2012.03.10","type":"pair"},
{"id":"236","name":"Зимний Кубок Vestadance","date":"2012.02.19","type":"pair"},
{"id":"238","name":"Кубок Чемпионов","date":"2012.02.04","type":"pair"},
{"id":"240","name":"Позитивный Кубок (СПб)","date":"2012.01.21","type":"pair"},
{"id":"242","name":"Открытие Года 2012","date":"2012.01.15","type":"pair"},
{"id":"243","name":"Чемпионат России 2011","date":"2011.12.10","type":"pair"},
{"id":"246","name":"Буревестник 2011","date":"2011.11.26","type":"pair"},
{"id":"253","name":"Надежды России","date":"2011.10.08","type":"pair"},
{"id":"254","name":"Пламя осени","date":"2011.10.02","type":"pair"},
{"id":"260","name":"Динамиада","date":"2011.08.21","type":"pair"},
{"id":"262","name":"Летний Кубок Vestadance","date":"2011.08.07","type":"pair"},
{"id":"272","name":"Весенний Кубок VestaDance","date":"2011.05.22","type":"pair"},
{"id":"273","name":"Чемпионат Москвы 2011","date":"2011.05.14","type":"pair"},
{"id":"276","name":"Держи Ритм 15","date":"2011.04.24","type":"pair"},
{"id":"279","name":"Кубок АСХ","date":"2011.03.20","type":"pair"},
{"id":"282","name":"Весенний Кубок Сокольников","date":"2011.03.07","type":"pair"},
{"id":"283","name":"Зимний Кубок СПб","date":"2011.02.27","type":"pair"},
{"id":"285","name":"Держи Ритм 14","date":"2011.02.13","type":"pair"},
{"id":"288","name":"Дебют-2011","date":"2011.01.23","type":"pair"},
{"id":"292","name":"Кубок Особняка","date":"2010.12.05","type":"pair"},
{"id":"295","name":"EuroDance - 3","date":"2010.11.14","type":"pair"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"132","dancer_id":"2989","class":"C","result":"4/8","points":"1","partner":"3132"},
{"competion_id":"184","dancer_id":"2989","class":"D","result":"8/39","points":"2","partner":"0"},
{"competion_id":"186","dancer_id":"2989","class":"D","result":"6/37","points":"3","partner":"4298"},
{"competion_id":"191","dancer_id":"2989","class":"D","result":"11/32","points":"1","partner":"0"},
{"competion_id":"204","dancer_id":"2989","class":"D","result":"5/20","points":"2","partner":"3094"},
{"competion_id":"215","dancer_id":"2989","class":"D","result":"10/13","points":"0","partner":"0"},
{"competion_id":"226","dancer_id":"2989","class":"D","result":"11/17","points":"0","partner":"0"},
{"competion_id":"227","dancer_id":"2989","class":"D","result":"31/34","points":"0","partner":"0"},
{"competion_id":"229","dancer_id":"2989","class":"D","result":"8/19","points":"1","partner":"3134"},
{"competion_id":"231","dancer_id":"2989","class":"D","result":"13/24","points":"0","partner":"0"},
{"competion_id":"236","dancer_id":"2989","class":"D","result":"11/19","points":"0","partner":"0"},
{"competion_id":"238","dancer_id":"2989","class":"D","result":"13/26","points":"1","partner":"0"},
{"competion_id":"240","dancer_id":"2989","class":"D","result":"13/17","points":"0","partner":"0"},
{"competion_id":"242","dancer_id":"2989","class":"D","result":"4/11","points":"1","partner":"0"},
{"competion_id":"243","dancer_id":"2989","class":"D","result":"39/71","points":"0","partner":"0"},
{"competion_id":"246","dancer_id":"2989","class":"D","result":"10/31","points":"1","partner":"3134"},
{"competion_id":"253","dancer_id":"2989","class":"D","result":"11/16","points":"0","partner":"0"},
{"competion_id":"254","dancer_id":"2989","class":"D","result":"9/12","points":"0","partner":"0"},
{"competion_id":"260","dancer_id":"2989","class":"D","result":"14/15","points":"0","partner":"0"},
{"competion_id":"262","dancer_id":"2989","class":"D","result":"13/13","points":"0","partner":"3641"},
{"competion_id":"272","dancer_id":"2989","class":"D","result":"23/26","points":"0","partner":"0"},
{"competion_id":"273","dancer_id":"2989","class":"D","result":"51/56","points":"0","partner":"0"},
{"competion_id":"276","dancer_id":"2989","class":"D","result":"26/31","points":"0","partner":"0"},
{"competion_id":"279","dancer_id":"2989","class":"E","result":"3/18","points":"3","partner":"0"},
{"competion_id":"282","dancer_id":"2989","class":"E","result":"4/8","points":"1","partner":"2996"},
{"competion_id":"283","dancer_id":"2989","class":"E","result":"6/25","points":"2","partner":"3132"},
{"competion_id":"285","dancer_id":"2989","class":"E","result":"13/19","points":"0","partner":"0"},
{"competion_id":"288","dancer_id":"2989","class":"E","result":"16/28","points":"0","partner":"2996"},
{"competion_id":"292","dancer_id":"2989","class":"E","result":"20/23","points":"0","partner":"0"},
{"competion_id":"295","dancer_id":"2989","class":"E","result":"15/15","points":"0","partner":"0"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>