<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"3457","fio":"Фролов Владимир Олегович","club":"Академия Танца (г.Саратов)","class":"D","e_points":"0","d_points":"8","c_points":"0","b_points":"0","a_points":"0","class_dnd":"Bg","bg_points":"0","rs_points":"0","m_points":"0","s_points":"0","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"216","name":"Летний кубок Академии Танца г.Саратов","date":"2012.06.11","type":"pair"},
{"id":"256","name":"Чемпионат Поволжья Саратов","date":"2011.09.25","type":"pair"},
{"id":"258","name":"Открытие Сезона","date":"2011.09.10","type":"pair"},
{"id":"265","name":"Летний кубок (г.Саратов)","date":"2011.06.26","type":"pair"},
{"id":"277","name":"Кубок Северной Столицы","date":"2011.04.09","type":"pair"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"216","dancer_id":"3457","class":"D","result":"2/5","points":"1","partner":"3766"},
{"competion_id":"256","dancer_id":"3457","class":"D","result":"1/11","points":"4","partner":"3483"},
{"competion_id":"258","dancer_id":"3457","class":"D","result":"11/27","points":"1","partner":"0"},
{"competion_id":"265","dancer_id":"3457","class":"D","result":"2/9","points":"2","partner":"3483"},
{"competion_id":"277","dancer_id":"3457","class":"D","result":"25/42","points":"0","partner":"0"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>