<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"369","fio":"Черный Ариэл Григорьевич","club":"Ivara","class":"A","e_points":"0","d_points":"0","c_points":"0","b_points":"5","a_points":"0","class_dnd":"S","bg_points":"0","rs_points":"0","m_points":"0","s_points":"1","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"15","name":"Открытие сезона 2016-2017 г.Москва","date":"2016.09.17","type":"pair"},
{"id":"32","name":"Чемпионат Москвы г.Москва","date":"2016.05.14","type":"pair"},
{"id":"42","name":"Nord Cup 2016 г.СПб","date":"2016.03.20","type":"pair"},
{"id":"44","name":"Кубок АСХ 2016 г.Москва","date":"2016.03.05","type":"pair"},
{"id":"73","name":"Открытие сезона г.Москва","date":"2015.09.19","type":"pair"},
{"id":"78","name":"StarShip г.СПб","date":"2015.07.11","type":"pair"},
{"id":"86","name":"Командное Первенство 2015 г.Москва","date":"2015.05.30","type":"pair"},
{"id":"88","name":"Чемпионат Москвы 2015 г.Москва","date":"2015.05.10","type":"pair"},
{"id":"92","name":"Чемпионат Санкт- Петербурга 2015","date":"2015.04.18","type":"pair"},
{"id":"93","name":"Весенние Огни г.Москва","date":"2015.04.11","type":"pair"},
{"id":"98","name":"Nord Cup г.СПб","date":"2015.03.21","type":"pair"},
{"id":"107","name":"Январский weekend 2015 г.Москва","date":"2015.01.24","type":"pair"},
{"id":"111","name":"Чемпионат России 2014 г.Москва","date":"2014.12.06","type":"pair"},
{"id":"121","name":"Перезагрузка г.Новосибирск","date":"2014.10.11","type":"pair"},
{"id":"124","name":"Восходящие звезды г.СПб","date":"2014.09.27","type":"pair"},
{"id":"125","name":"H&D Festival Cup г.Москва","date":"2014.09.20","type":"pair"},
{"id":"132","name":"Динамиада г.Москва","date":"2014.07.12","type":"pair"},
{"id":"157","name":"Чемпионат России 2013 г.Москва","date":"2013.12.14","type":"pair"},
{"id":"243","name":"Чемпионат России 2011","date":"2011.12.10","type":"pair"},
{"id":"246","name":"Буревестник 2011","date":"2011.11.26","type":"pair"},
{"id":"253","name":"Надежды России","date":"2011.10.08","type":"pair"},
{"id":"293","name":"Чемпионат России + Будущ.чемпионы","date":"2010.11.20","type":"pair"},
{"id":"298","name":"Надежды России","date":"2010.10.23","type":"pair"},
{"id":"307","name":"Чемпионат Москвы","date":"2010.05.29","type":"pair"},
{"id":"315","name":"Звезды Хастл","date":"2010.04.04","type":"pair"},
{"id":"322","name":"Кубок Чемпионов","date":"2010.01.31","type":"pair"},
{"id":"327","name":"Чемпионат России 2009 г.Москва","date":"2009.11.21","type":"pair"},
{"id":"351","name":"Чемпионат России 2008","date":"2008.11.08","type":"pair"},
{"id":"354","name":"Чемпионат Москвы 2008","date":"2008.09.07","type":"pair"},
{"id":"360","name":"Майский Бал N Club’а 2008 ","date":"2008.05.18","type":"pair"},
{"id":"365","name":"Чемпионат АСХ","date":"2008.02.09","type":"pair"},
{"id":"372","name":"Гран При России","date":"2007.09.23","type":"pair"},
{"id":"374","name":"Майский Бал NClub","date":"2007.05.20","type":"pair"},
{"id":"375","name":"Звезды Хастла","date":"2007.03.04","type":"pair"},
{"id":"376","name":"Зимний Бал NClub","date":"2007.01.28","type":"pair"},
{"id":"15","name":"Открытие сезона 2016-2017 г.Москва","date":"2016.09.17","type":"jnj"},
{"id":"32","name":"Чемпионат Москвы г.Москва","date":"2016.05.14","type":"jnj"},
{"id":"42","name":"Nord Cup 2016 г.СПб","date":"2016.03.20","type":"jnj"},
{"id":"44","name":"Кубок АСХ 2016 г.Москва","date":"2016.03.05","type":"jnj"},
{"id":"73","name":"Открытие сезона г.Москва","date":"2015.09.19","type":"jnj"},
{"id":"78","name":"StarShip г.СПб","date":"2015.07.11","type":"jnj"},
{"id":"86","name":"Командное Первенство 2015 г.Москва","date":"2015.05.30","type":"jnj"},
{"id":"88","name":"Чемпионат Москвы 2015 г.Москва","date":"2015.05.11","type":"jnj"},
{"id":"92","name":"Чемпионат Санкт- Петербурга 2015","date":"2015.04.18","type":"jnj"},
{"id":"93","name":"Весенние Огни г.Москва","date":"2015.04.11","type":"jnj"},
{"id":"98","name":"Nord Cup г.СПб","date":"2015.03.21","type":"jnj"},
{"id":"107","name":"Январский weekend 2015 г.Москва","date":"2015.01.24","type":"jnj"},
{"id":"111","name":"Чемпионат России 2014 г.Москва","date":"2014.12.07","type":"jnj"},
{"id":"121","name":"Огни большого города г.Москва","date":"2014.10.04","type":"jnj"},
{"id":"124","name":"H&D Festival Cup г.Москва","date":"2014.09.20","type":"jnj"},
{"id":"125","name":"Открытие сезона г.Москва","date":"2014.09.06","type":"jnj"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"243","dancer_id":"369","class":"A","result":"19/19","points":"0","partner":"298"},
{"competion_id":"246","dancer_id":"369","class":"A","result":"6/7","points":"0","partner":"298"},
{"competion_id":"253","dancer_id":"369","class":"A","result":"2/2","points":"0","partner":"298"},
{"competion_id":"293","dancer_id":"369","class":"A","result":"25/27","points":"0","partner":"298"},
{"competion_id":"298","dancer_id":"369","class":"A","result":"3/3","points":"0","partner":"0"},
{"competion_id":"322","dancer_id":"369","class":"A","result":"11/11","points":"0","partner":"298"},
{"competion_id":"327","dancer_id":"369","class":"A","result":"22/23","points":"0","partner":"298"},
{"competion_id":"351","dancer_id":"369","class":"B","result":"1/14","points":"0","partner":"199"},
{"competion_id":"360","dancer_id":"369","class":"B","result":"5/6","points":"0","partner":"0"},
{"competion_id":"88","dancer_id":"369","class":"A","result":"12/12","points":"0","partner":"0"},
{"competion_id":"307","dancer_id":"369","class":"A","result":"7/8","points":"0","partner":"298"},
{"competion_id":"315","dancer_id":"369","class":"A","result":"3/4","points":"0","partner":"298"},
{"competion_id":"354","dancer_id":"369","class":"A","result":"5/7","points":"0","partner":"199"},
{"competion_id":"365","dancer_id":"369","class":"A","result":"10/11","points":"0","partner":"585"},
{"competion_id":"372","dancer_id":"369","class":"A","result":"5/5","points":"0","partner":"420"},
{"competion_id":"374","dancer_id":"369","class":"B","result":"7/10","points":"0","partner":"585"},
{"competion_id":"375","dancer_id":"369","class":"B","result":"3/17","points":"3","partner":"585"},
{"competion_id":"376","dancer_id":"369","class":"B","result":"5/12","points":"2","partner":"585"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[{"competion_id":"15","dancer_id":"369","class":"S","result":"9/10","points":"0"},
{"competion_id":"32","dancer_id":"369","class":"S","result":"15/15","points":"0"},
{"competion_id":"42","dancer_id":"369","class":"S","result":"9/9","points":"0"},
{"competion_id":"44","dancer_id":"369","class":"S","result":"16/16","points":"0"},
{"competion_id":"73","dancer_id":"369","class":"S","result":"15/15","points":"0"},
{"competion_id":"78","dancer_id":"369","class":"S","result":"6/6","points":"0"},
{"competion_id":"86","dancer_id":"369","class":"S","result":"10/11","points":"0"},
{"competion_id":"88","dancer_id":"369","class":"S","result":"14/16","points":"0"},
{"competion_id":"92","dancer_id":"369","class":"S","result":"1/2","points":"0"},
{"competion_id":"93","dancer_id":"369","class":"S","result":"10/10","points":"0"},
{"competion_id":"98","dancer_id":"369","class":"S","result":"4/8","points":"0"},
{"competion_id":"107","dancer_id":"369","class":"S","result":"5/9","points":"0"},
{"competion_id":"111","dancer_id":"369","class":"S","result":"14/17","points":"0"},
{"competion_id":"121","dancer_id":"369","class":"S","result":"6/7","points":"0"},
{"competion_id":"124","dancer_id":"369","class":"S","result":"2/2","points":"0"},
{"competion_id":"125","dancer_id":"369","class":"S","result":"2/8","points":"1"},
{"competion_id":"132","dancer_id":"369","class":"A","result":"1/4","points":"0"},
{"competion_id":"157","dancer_id":"369","class":"A","result":"11/15","points":"0"}]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>