<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"4813","fio":"Уваров Андрей Андреевич","club":"Ivara,Мегаполис","class":"C","e_points":"7","d_points":"14","c_points":"4","b_points":"0","a_points":"0","class_dnd":"RS","bg_points":"0","rs_points":"0","m_points":"0","s_points":"0","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"65","name":"Огни Большого Города г.Москва","date":"2015.11.07","type":"pair"},
{"id":"67","name":"Осенний кубок Движения г.Москва","date":"2015.10.24","type":"pair"},
{"id":"73","name":"Открытие сезона г.Москва","date":"2015.09.19","type":"pair"},
{"id":"86","name":"Командное Первенство 2015 г.Москва","date":"2015.05.30","type":"pair"},
{"id":"93","name":"Весенние Огни г.Москва","date":"2015.04.11","type":"pair"},
{"id":"97","name":"Кубок АСХ 2015 г.Москва","date":"2015.03.28","type":"pair"},
{"id":"100","name":"Кубок Чемпионов г.Москва","date":"2015.02.28","type":"pair"},
{"id":"105","name":"Динамиада 2015 г.Москва","date":"2015.02.07","type":"pair"},
{"id":"107","name":"Январский weekend 2015 г.Москва","date":"2015.01.24","type":"pair"},
{"id":"115","name":"Надежды России г.Москва","date":"2014.11.08","type":"pair"},
{"id":"119","name":"Красный октябрь г.Москва","date":"2014.10.25","type":"pair"},
{"id":"121","name":"Перезагрузка г.Новосибирск","date":"2014.10.11","type":"pair"},
{"id":"122","name":"Огни большого города г.Москва","date":"2014.10.04","type":"pair"},
{"id":"132","name":"Динамиада г.Москва","date":"2014.07.12","type":"pair"},
{"id":"146","name":"Танцевальный район г.Москва","date":"2014.03.29","type":"pair"},
{"id":"148","name":"Nord Cup г.СПб","date":"2014.03.14","type":"pair"},
{"id":"150","name":"Кубок АСХ г.Москва","date":"2014.03.01","type":"pair"},
{"id":"155","name":"Кубок Движения г.Москва","date":"2014.01.25","type":"pair"},
{"id":"157","name":"Чемпионат России 2013 г.Москва","date":"2013.12.14","type":"pair"},
{"id":"163","name":"Надежды России г.Москва","date":"2013.11.09","type":"pair"},
{"id":"165","name":"Кубок Буревестника 2013","date":"2013.10.26","type":"pair"},
{"id":"170","name":"Открытие Сезона г.Москва","date":"2013.09.14","type":"pair"},
{"id":"175","name":"Командное первенство г.Москва","date":"2013.06.01","type":"pair"},
{"id":"177","name":"Чемпионат Москвы 2013","date":"2013.05.18","type":"pair"},
{"id":"184","name":"Nord Cup г.Санкт-Петербург","date":"2013.03.23","type":"pair"},
{"id":"186","name":"Кубок АСХ 2013 г.Москва","date":"2013.03.16","type":"pair"},
{"id":"195","name":"AbsolutCup г.Моска","date":"2012.12.09","type":"pair"},
{"id":"204","name":"Star Cup г.Москва","date":"2012.10.21","type":"pair"},
{"id":"211","name":"Открытие сезона г.Москва","date":"2012.09.08","type":"pair"},
{"id":"65","name":"Огни Большого Города г.Москва","date":"2015.11.07","type":"jnj"},
{"id":"67","name":"Осенний кубок Движения г.Москва","date":"2015.10.24","type":"jnj"},
{"id":"73","name":"Открытие сезона г.Москва","date":"2015.09.19","type":"jnj"},
{"id":"86","name":"Командное Первенство 2015 г.Москва","date":"2015.05.30","type":"jnj"},
{"id":"93","name":"Весенние Огни г.Москва","date":"2015.04.11","type":"jnj"},
{"id":"97","name":"Кубок АСХ 2015 г.Москва","date":"2015.03.28","type":"jnj"},
{"id":"100","name":"Кубок Чемпионов г.Москва","date":"2015.02.28","type":"jnj"},
{"id":"105","name":"Динамиада 2015 г.Москва","date":"2015.02.07","type":"jnj"},
{"id":"107","name":"Январский weekend 2015 г.Москва","date":"2015.01.24","type":"jnj"},
{"id":"115","name":"Надежды России г.Москва","date":"2014.11.08","type":"jnj"},
{"id":"119","name":"Красный октябрь г.Москва","date":"2014.10.25","type":"jnj"},
{"id":"121","name":"Огни большого города г.Москва","date":"2014.10.04","type":"jnj"},
{"id":"122","name":"Турнир Е+Д классов г.Красноярск","date":"2014.09.28","type":"jnj"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"65","dancer_id":"4813","class":"C","result":"18/18","points":"0","partner":"0"},
{"competion_id":"67","dancer_id":"4813","class":"C","result":"8/13","points":"0","partner":"0"},
{"competion_id":"86","dancer_id":"4813","class":"C","result":"12/23","points":"0","partner":"0"},
{"competion_id":"93","dancer_id":"4813","class":"C","result":"9/21","points":"1","partner":"0"},
{"competion_id":"97","dancer_id":"4813","class":"C","result":"6/18","points":"2","partner":"4978"},
{"competion_id":"100","dancer_id":"4813","class":"C","result":"13/21","points":"0","partner":"0"},
{"competion_id":"105","dancer_id":"4813","class":"C","result":"6/14","points":"1","partner":"4978"},
{"competion_id":"107","dancer_id":"4813","class":"C","result":"5/9","points":"0","partner":"0"},
{"competion_id":"115","dancer_id":"4813","class":"C","result":"18/23","points":"0","partner":"0"},
{"competion_id":"119","dancer_id":"4813","class":"C","result":"9/12","points":"0","partner":"0"},
{"competion_id":"122","dancer_id":"4813","class":"C","result":"10/11","points":"0","partner":"4978"},
{"competion_id":"146","dancer_id":"4813","class":"D","result":"1/22","points":"5","partner":"4978"},
{"competion_id":"148","dancer_id":"4813","class":"D","result":"3/28","points":"4","partner":"4978"},
{"competion_id":"150","dancer_id":"4813","class":"D","result":"6/20","points":"2","partner":"4978"},
{"competion_id":"155","dancer_id":"4813","class":"D","result":"11/19","points":"0","partner":"0"},
{"competion_id":"163","dancer_id":"4813","class":"D","result":"11/26","points":"1","partner":"0"},
{"competion_id":"165","dancer_id":"4813","class":"D","result":"6/19","points":"2","partner":"4978"},
{"competion_id":"170","dancer_id":"4813","class":"D","result":"13/20","points":"0","partner":"4978"},
{"competion_id":"175","dancer_id":"4813","class":"D","result":"18/33","points":"0","partner":"0"},
{"competion_id":"177","dancer_id":"4813","class":"D","result":"59/61","points":"0","partner":"0"},
{"competion_id":"184","dancer_id":"4813","class":"E","result":"1/24","points":"5","partner":"4978"},
{"competion_id":"186","dancer_id":"4813","class":"E","result":"26/67","points":"1","partner":"0"},
{"competion_id":"195","dancer_id":"4813","class":"E","result":"9/19","points":"1","partner":"0"},
{"competion_id":"204","dancer_id":"4813","class":"E","result":"20/23","points":"0","partner":"0"},
{"competion_id":"211","dancer_id":"4813","class":"E","result":"33/36","points":"0","partner":"0"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[{"competion_id":"67","dancer_id":"4813","class":"RS","result":"17/28","points":"0"},
{"competion_id":"73","dancer_id":"4813","class":"RS","result":"34/38","points":"0"},
{"competion_id":"86","dancer_id":"4813","class":"RS","result":"17/30","points":"0"},
{"competion_id":"93","dancer_id":"4813","class":"RS","result":"13/27","points":"0"},
{"competion_id":"97","dancer_id":"4813","class":"RS","result":"15/26","points":"0"},
{"competion_id":"100","dancer_id":"4813","class":"RS","result":"23/32","points":"0"},
{"competion_id":"105","dancer_id":"4813","class":"RS","result":"18/20","points":"0"},
{"competion_id":"107","dancer_id":"4813","class":"RS","result":"20/25","points":"0"},
{"competion_id":"115","dancer_id":"4813","class":"RS","result":"21/26","points":"0"},
{"competion_id":"119","dancer_id":"4813","class":"RS","result":"13/18","points":"0"},
{"competion_id":"121","dancer_id":"4813","class":"RS","result":"15/18","points":"0"},
{"competion_id":"132","dancer_id":"4813","class":"C","result":"13/19","points":"0"},
{"competion_id":"157","dancer_id":"4813","class":"D","result":"51/81","points":"0"}]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>