<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"5677","fio":"Щеринов Сергей Александрович","club":"Strikly (г.СПб)","class":"C","e_points":"7","d_points":"13","c_points":"0","b_points":"0","a_points":"0","class_dnd":"RS","bg_points":"12","rs_points":"0","m_points":"0","s_points":"0","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"21","name":"Старшип 2016 г.СПб","date":"2016.07.30","type":"pair"},
{"id":"25","name":"Кубок белых ночей г.СПб","date":"2016.06.25","type":"pair"},
{"id":"36","name":"Чемпионат Санкт-Петербурга 2016 г.СПб","date":"2016.04.23","type":"pair"},
{"id":"42","name":"Nord Cup 2016 г.СПб","date":"2016.03.20","type":"pair"},
{"id":"52","name":"Январский ритм 2016 г.СПб","date":"2016.01.30","type":"pair"},
{"id":"60","name":"Кубок Морской Славы г.СПб","date":"2015.11.22","type":"pair"},
{"id":"75","name":"В ритме лета г.СПб","date":"2015.08.22","type":"pair"},
{"id":"88","name":"Чемпионат Москвы 2015 г.Москва","date":"2015.05.10","type":"pair"},
{"id":"92","name":"Чемпионат Санкт- Петербурга 2015","date":"2015.04.18","type":"pair"},
{"id":"98","name":"Nord Cup г.СПб","date":"2015.03.21","type":"pair"},
{"id":"108","name":"Танцевальная зима г.СПб","date":"2014.12.14","type":"pair"},
{"id":"114","name":"Кубок Морской Славы г.СПб","date":"2014.11.09","type":"pair"},
{"id":"120","name":"Танцевальный Weekend г.СПб","date":"2014.10.18","type":"pair"},
{"id":"128","name":"Просто конкурс г.СПб","date":"2014.08.23","type":"pair"},
{"id":"130","name":"Танцевальное воскресенье г.СПб","date":"2014.08.03","type":"pair"},
{"id":"139","name":"Кубок белых ночей г.СПб","date":"2014.05.24","type":"pair"},
{"id":"143","name":"Чемпионат Санкт-Петербурга","date":"2014.05.02","type":"pair"},
{"id":"148","name":"Nord Cup г.СПб","date":"2014.03.14","type":"pair"},
{"id":"161","name":"Кубок морской славы г.СПб","date":"2013.11.24","type":"pair"},
{"id":"167","name":"Dance weekend г.СПб","date":"2013.10.12","type":"pair"},
{"id":"173","name":"Кубок Лета г.СПб","date":"2013.06.16","type":"pair"},
{"id":"21","name":"Старшип 2016 г.СПб","date":"2016.07.30","type":"jnj"},
{"id":"25","name":"Кубок белых ночей г.СПб","date":"2016.06.25","type":"jnj"},
{"id":"36","name":"Чемпионат Санкт-Петербурга 2016 г.СПб","date":"2016.04.23","type":"jnj"},
{"id":"42","name":"Nord Cup 2016 г.СПб","date":"2016.03.20","type":"jnj"},
{"id":"52","name":"Январский ритм 2016 г.СПб","date":"2016.01.30","type":"jnj"},
{"id":"60","name":"Кубок Морской Славы г.СПб","date":"2015.11.22","type":"jnj"},
{"id":"75","name":"В ритме лета г.СПб","date":"2015.08.22","type":"jnj"},
{"id":"88","name":"Чемпионат Москвы 2015 г.Москва","date":"2015.05.11","type":"jnj"},
{"id":"92","name":"Чемпионат Санкт- Петербурга 2015","date":"2015.04.18","type":"jnj"},
{"id":"98","name":"Nord Cup г.СПб","date":"2015.03.21","type":"jnj"},
{"id":"108","name":"Танцевальная зима г.СПб","date":"2014.12.14","type":"jnj"},
{"id":"114","name":"Кубок Морской Славы г.СПб","date":"2014.11.09","type":"jnj"},
{"id":"120","name":"Перезагрузка г.Новосибирск","date":"2014.10.11","type":"jnj"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"25","dancer_id":"5677","class":"D","result":"5/14","points":"2","partner":"6351"},
{"competion_id":"36","dancer_id":"5677","class":"D","result":"3/21","points":"3","partner":"6351"},
{"competion_id":"60","dancer_id":"5677","class":"D","result":"3/20","points":"3","partner":"6351"},
{"competion_id":"88","dancer_id":"5677","class":"D","result":"42/49","points":"0","partner":"0"},
{"competion_id":"92","dancer_id":"5677","class":"D","result":"8/14","points":"0","partner":"6351"},
{"competion_id":"108","dancer_id":"5677","class":"D","result":"9/12","points":"0","partner":"0"},
{"competion_id":"114","dancer_id":"5677","class":"D","result":"12/19","points":"0","partner":"0"},
{"competion_id":"120","dancer_id":"5677","class":"D","result":"14/19","points":"0","partner":"0"},
{"competion_id":"128","dancer_id":"5677","class":"D","result":"2/7","points":"2","partner":"6005"},
{"competion_id":"130","dancer_id":"5677","class":"D","result":"2/5","points":"1","partner":"6005"},
{"competion_id":"139","dancer_id":"5677","class":"D","result":"4/9","points":"1","partner":"6005"},
{"competion_id":"143","dancer_id":"5677","class":"D","result":"6/16","points":"1","partner":"6005"},
{"competion_id":"148","dancer_id":"5677","class":"D","result":"25/30","points":"0","partner":"0"},
{"competion_id":"161","dancer_id":"5677","class":"E","result":"2/24","points":"4","partner":"6005"},
{"competion_id":"167","dancer_id":"5677","class":"E","result":"3/20","points":"3","partner":"5825"},
{"competion_id":"173","dancer_id":"5677","class":"E","result":"16/21","points":"0","partner":"0"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[{"competion_id":"21","dancer_id":"5677","class":"RS","result":"18/18","points":"0"},
{"competion_id":"42","dancer_id":"5677","class":"Bg","result":"6/64","points":"3"},
{"competion_id":"52","dancer_id":"5677","class":"Bg","result":"4/27","points":"3"},
{"competion_id":"60","dancer_id":"5677","class":"Bg","result":"8/48","points":"2"},
{"competion_id":"75","dancer_id":"5677","class":"Bg","result":"1/19","points":"4"},
{"competion_id":"98","dancer_id":"5677","class":"Bg","result":"38/47","points":"0"},
{"competion_id":"108","dancer_id":"5677","class":"Bg","result":"11/28","points":"0"},
{"competion_id":"114","dancer_id":"5677","class":"Bg","result":"19/32","points":"0"}]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>