<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"5765","fio":"Лыкова Елена Васильевна","club":"YouDance","class":"B","e_points":"0","d_points":"12","c_points":"16","b_points":"8","a_points":"0","class_dnd":"S","bg_points":"0","rs_points":"8","m_points":"9","s_points":"2","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"42","name":"Nord Cup 2016 г.СПб","date":"2016.03.20","type":"pair"},
{"id":"67","name":"Осенний кубок Движения г.Москва","date":"2015.10.24","type":"pair"},
{"id":"86","name":"Командное Первенство 2015 г.Москва","date":"2015.05.30","type":"pair"},
{"id":"88","name":"Чемпионат Москвы 2015 г.Москва","date":"2015.05.10","type":"pair"},
{"id":"93","name":"Весенние Огни г.Москва","date":"2015.04.11","type":"pair"},
{"id":"100","name":"Кубок Чемпионов г.Москва","date":"2015.02.28","type":"pair"},
{"id":"105","name":"Динамиада 2015 г.Москва","date":"2015.02.07","type":"pair"},
{"id":"107","name":"Январский weekend 2015 г.Москва","date":"2015.01.24","type":"pair"},
{"id":"111","name":"Чемпионат России 2014 г.Москва","date":"2014.12.06","type":"pair"},
{"id":"115","name":"Надежды России г.Москва","date":"2014.11.08","type":"pair"},
{"id":"119","name":"Красный октябрь г.Москва","date":"2014.10.25","type":"pair"},
{"id":"124","name":"Восходящие звезды г.СПб","date":"2014.09.27","type":"pair"},
{"id":"125","name":"H&D Festival Cup г.Москва","date":"2014.09.20","type":"pair"},
{"id":"140","name":"Чемпионат Москвы 2014","date":"2014.05.17","type":"pair"},
{"id":"145","name":"Танцевальная Галактика г.Москва","date":"2014.04.12","type":"pair"},
{"id":"150","name":"Кубок АСХ г.Москва","date":"2014.03.01","type":"pair"},
{"id":"157","name":"Чемпионат России 2013 г.Москва","date":"2013.12.14","type":"pair"},
{"id":"170","name":"Открытие Сезона г.Москва","date":"2013.09.14","type":"pair"},
{"id":"42","name":"Nord Cup 2016 г.СПб","date":"2016.03.20","type":"jnj"},
{"id":"67","name":"Осенний кубок Движения г.Москва","date":"2015.10.24","type":"jnj"},
{"id":"86","name":"Командное Первенство 2015 г.Москва","date":"2015.05.30","type":"jnj"},
{"id":"88","name":"Чемпионат Москвы 2015 г.Москва","date":"2015.05.11","type":"jnj"},
{"id":"93","name":"Весенние Огни г.Москва","date":"2015.04.11","type":"jnj"},
{"id":"100","name":"Кубок Чемпионов г.Москва","date":"2015.02.28","type":"jnj"},
{"id":"105","name":"Динамиада 2015 г.Москва","date":"2015.02.07","type":"jnj"},
{"id":"107","name":"Январский weekend 2015 г.Москва","date":"2015.01.24","type":"jnj"},
{"id":"111","name":"Чемпионат России 2014 г.Москва","date":"2014.12.07","type":"jnj"},
{"id":"115","name":"Надежды России г.Москва","date":"2014.11.08","type":"jnj"},
{"id":"119","name":"Красный октябрь г.Москва","date":"2014.10.25","type":"jnj"},
{"id":"124","name":"H&D Festival Cup г.Москва","date":"2014.09.20","type":"jnj"},
{"id":"125","name":"Открытие сезона г.Москва","date":"2014.09.06","type":"jnj"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"42","dancer_id":"5765","class":"B","result":"1/4","points":"2","partner":"0"},
{"competion_id":"93","dancer_id":"5765","class":"B","result":"1/6","points":"3","partner":"6275"},
{"competion_id":"86","dancer_id":"5765","class":"B","result":"4/8","points":"1","partner":"0"},
{"competion_id":"88","dancer_id":"5765","class":"B","result":"4/17","points":"2","partner":"6275"},
{"competion_id":"100","dancer_id":"5765","class":"C","result":"1/21","points":"5","partner":"6275"},
{"competion_id":"105","dancer_id":"5765","class":"C","result":"2/14","points":"3","partner":"6275"},
{"competion_id":"115","dancer_id":"5765","class":"C","result":"1/23","points":"5","partner":"6275"},
{"competion_id":"170","dancer_id":"5765","class":"D","result":"15/20","points":"0","partner":"0"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[{"competion_id":"67","dancer_id":"5765","class":"S","result":"7/8","points":"0"},
{"competion_id":"86","dancer_id":"5765","class":"M","result":"3/15","points":"2"},
{"competion_id":"88","dancer_id":"5765","class":"M","result":"4/23","points":"2"},
{"competion_id":"93","dancer_id":"5765","class":"S","result":"1/7","points":"2"},
{"competion_id":"100","dancer_id":"5765","class":"M","result":"4/20","points":"2"},
{"competion_id":"105","dancer_id":"5765","class":"M","result":"6/11","points":"0"},
{"competion_id":"107","dancer_id":"5765","class":"M","result":"6/10","points":"0"},
{"competion_id":"111","dancer_id":"5765","class":"M","result":"2/17","points":"3"},
{"competion_id":"115","dancer_id":"5765","class":"RS","result":"1/29","points":"5"},
{"competion_id":"119","dancer_id":"5765","class":"RS","result":"7/19","points":"0"},
{"competion_id":"124","dancer_id":"5765","class":"RS","result":"1/11","points":"3"},
{"competion_id":"125","dancer_id":"5765","class":"RS","result":"8/23","points":"0"},
{"competion_id":"140","dancer_id":"5765","class":"C","result":"2/46","points":"3"},
{"competion_id":"145","dancer_id":"5765","class":"D","result":"1/48","points":"4"},
{"competion_id":"150","dancer_id":"5765","class":"D","result":"1/34","points":"4"},
{"competion_id":"157","dancer_id":"5765","class":"D","result":"3/81","points":"4"}]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>