<!DOCTYPE html>
<html>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name = "viewport" content = "user-scalable=no, width=device-width, height=device-height">
  <head>
    <meta charset="UTF-8">
    <title>Hustle Database</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
  </head>

  <body ng-app="HustleApp" ng-controller="dancerController">

    <div class="content">
        <div class="navigation-topbar">
            <div class="navigation-topbar-secondary-text"># {{dancer.id}}</div>
            <div class="navigation-topbar-main-text">{{dancer.fio}}</div>
        </div>
        <ul class="navigation-view">
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Клубная принадлежность</div>
                <div>{{dancer.club}}</div>
            </li>
            <li class="navigation-item-wo-border">
                <div class="navigation-item-header grey-text">Баллы</div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['E', 'D', 'C', 'B', 'A']" class="grey-text" class="points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.e_points}}</td>
                            <td class="points-table-cell">{{dancer.d_points}}</td>
                            <td class="points-table-cell">{{dancer.c_points}}</td>
                            <td class="points-table-cell">{{dancer.b_points}}</td>
                            <td class="points-table-cell">{{dancer.a_points}}</td>
                        </tr>
                    </table>
                </div>
                <div class="point-table-holder">
                    <div class="float-left blue-bubble">{{dancer.class_dnd}}</div>
                    <table class="points-table">
                        <tr>
                            <td ng-repeat="d in ['Bg', 'Rs', 'M', 'S', 'Ch']" class="grey-text points-table-cell">{{d}}</td>
                        </tr>
                        <tr>
                            <td class="points-table-cell">{{dancer.bg_points}}</td>
                            <td class="points-table-cell">{{dancer.rs_points}}</td>
                            <td class="points-table-cell">{{dancer.m_points}}</td>
                            <td class="points-table-cell">{{dancer.s_points}}</td>
                            <td class="points-table-cell">{{dancer.ch_points}}</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li ng-repeat="style in results" class="navigation-item-wo-border">
                <div  class="navigation-item-header grey-text">{{style.type}}</div>
                <md-tabs md-border-bottom="0" md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="cl in style.results" label="{{cl.class}}">
                        <ul class="inner_ul">
                            <li ng-repeat="r in cl.results | orderBy: '-competion_date'" class="navigation-item-wo-intend">
                                <div class="navigation-item-content">
                                    <div class="blue-bubble">
                                        {{r.class}}
                                    </div>
                                    <div ng-if="r.points != 0" class="green-bubble points-bubble-position">
                                        +{{r.points}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="navigation-item-main-text">
                                        {{r.competion_name}}
                                    </div>
                                    <a href="#/profile/{{ r.partner_id }}" ng-click="next()" class="grey-text">
                                        {{r.partner}}
                                    </a>
                                    <div class="grey-text">
                                        {{r.competion_date}}
                                    </div>
                                </div>
                                <div class="navigation-item-middle-item">
                                    <div class="grey-text">
                                        {{r.place}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </md-tab>
                </md-tabs>
            </li>
        </ul>
    </div> 


    <div id="dancer" data-dancer='[{"id":"6772","fio":"Ришко Анастасия Павловна","club":"Динамика","class":"D","e_points":"9","d_points":"0","c_points":"0","b_points":"0","a_points":"0","class_dnd":"RS","bg_points":"12","rs_points":"0","m_points":"0","s_points":"0","ch_points":"0"}]'>
    </div>

    <div id="competions" data-competions='[{"id":"27","name":"YES! Volga Dance Camp г.Саратов","date":"2016.06.11","type":"pair"},
{"id":"32","name":"Чемпионат Москвы г.Москва","date":"2016.05.14","type":"pair"},
{"id":"34","name":"UralFest 2016 г.Екатеринбург","date":"2016.05.01","type":"pair"},
{"id":"35","name":"Динамиада г.Москва","date":"2016.04.30","type":"pair"},
{"id":"42","name":"Nord Cup 2016 г.СПб","date":"2016.03.20","type":"pair"},
{"id":"44","name":"Кубок АСХ 2016 г.Москва","date":"2016.03.05","type":"pair"},
{"id":"50","name":"Кубок Чемпионов г.Москва","date":"2016.02.06","type":"pair"},
{"id":"53","name":"Ураган 2016 г.Москва","date":"2016.01.04","type":"pair"},
{"id":"57","name":"Чемпионат России 2015 г.Москва","date":"2015.12.05","type":"pair"},
{"id":"58","name":"Надежды России 2015 г.Москва","date":"2015.11.28","type":"pair"},
{"id":"65","name":"Огни Большого Города г.Москва","date":"2015.11.07","type":"pair"},
{"id":"70","name":"H&D Festival Cup г.Москва","date":"2015.10.02","type":"pair"},
{"id":"80","name":"Динамиада 2015 г.Москва","date":"2015.06.27","type":"pair"},
{"id":"86","name":"Командное Первенство 2015 г.Москва","date":"2015.05.30","type":"pair"},
{"id":"88","name":"Чемпионат Москвы 2015 г.Москва","date":"2015.05.10","type":"pair"},
{"id":"100","name":"Кубок Чемпионов г.Москва","date":"2015.02.28","type":"pair"},
{"id":"105","name":"Динамиада 2015 г.Москва","date":"2015.02.07","type":"pair"},
{"id":"111","name":"Чемпионат России 2014 г.Москва","date":"2014.12.06","type":"pair"},
{"id":"115","name":"Надежды России г.Москва","date":"2014.11.08","type":"pair"},
{"id":"122","name":"Огни большого города г.Москва","date":"2014.10.04","type":"pair"},
{"id":"125","name":"H&D Festival Cup г.Москва","date":"2014.09.20","type":"pair"},
{"id":"126","name":"Открытие сезона г.Москва","date":"2014.09.06","type":"pair"},
{"id":"27","name":"YES! Volga Dance Camp г.Саратов","date":"2016.06.11","type":"jnj"},
{"id":"32","name":"Чемпионат Москвы г.Москва","date":"2016.05.14","type":"jnj"},
{"id":"34","name":"UralFest 2016 г.Екатеринбург","date":"2016.05.02","type":"jnj"},
{"id":"35","name":"Динамиада г.Москва","date":"2016.04.30","type":"jnj"},
{"id":"42","name":"Nord Cup 2016 г.СПб","date":"2016.03.20","type":"jnj"},
{"id":"44","name":"Кубок АСХ 2016 г.Москва","date":"2016.03.05","type":"jnj"},
{"id":"50","name":"Кубок Чемпионов г.Москва","date":"2016.02.06","type":"jnj"},
{"id":"53","name":"Ураган 2016 г.Москва","date":"2016.01.04","type":"jnj"},
{"id":"57","name":"Чемпионат России 2015 г.Москва","date":"2015.12.05","type":"jnj"},
{"id":"58","name":"Надежды России 2015 г.Москва","date":"2015.11.28","type":"jnj"},
{"id":"65","name":"Огни Большого Города г.Москва","date":"2015.11.07","type":"jnj"},
{"id":"70","name":"H&D Festival Cup г.Москва","date":"2015.10.02","type":"jnj"},
{"id":"80","name":"Динамиада 2015 г.Москва","date":"2015.06.27","type":"jnj"},
{"id":"86","name":"Командное Первенство 2015 г.Москва","date":"2015.05.30","type":"jnj"},
{"id":"88","name":"Чемпионат Москвы 2015 г.Москва","date":"2015.05.11","type":"jnj"},
{"id":"100","name":"Кубок Чемпионов г.Москва","date":"2015.02.28","type":"jnj"},
{"id":"105","name":"Динамиада 2015 г.Москва","date":"2015.02.07","type":"jnj"},
{"id":"111","name":"Чемпионат России 2014 г.Москва","date":"2014.12.07","type":"jnj"},
{"id":"115","name":"Надежды России г.Москва","date":"2014.11.08","type":"jnj"},
{"id":"122","name":"Турнир Е+Д классов г.Красноярск","date":"2014.09.28","type":"jnj"},
{"id":"125","name":"Открытие сезона г.Москва","date":"2014.09.06","type":"jnj"}]'>
    </div>

    <div id="participating" data-participating='[{"competion_id":"42","dancer_id":"6772","class":"D","result":"23/34","points":"0","partner":"0"},
{"competion_id":"58","dancer_id":"6772","class":"D","result":"20/29","points":"0","partner":"0"},
{"competion_id":"65","dancer_id":"6772","class":"D","result":"13/18","points":"0","partner":"0"},
{"competion_id":"70","dancer_id":"6772","class":"D","result":"4/4","points":"0","partner":"0"},
{"competion_id":"100","dancer_id":"6772","class":"E","result":"3/88","points":"6","partner":"6551"},
{"competion_id":"105","dancer_id":"6772","class":"E","result":"23/63","points":"1","partner":"0"},
{"competion_id":"111","dancer_id":"6772","class":"E","result":"35/75","points":"1","partner":"0"},
{"competion_id":"115","dancer_id":"6772","class":"E","result":"13/30","points":"1","partner":"0"},
{"competion_id":"122","dancer_id":"6772","class":"E","result":"16/24","points":"0","partner":"0"},
{"competion_id":"125","dancer_id":"6772","class":"E","result":"6/8","points":"0","partner":"0"},
{"competion_id":"126","dancer_id":"6772","class":"E","result":"23/35","points":"0","partner":"0"}]'>
    </div>

    <div id="participatingjnj" data-participatingjnj='[{"competion_id":"27","dancer_id":"6772","class":"Bg","result":"4/18","points":"2"},
{"competion_id":"32","dancer_id":"6772","class":"Bg","result":"28/96","points":"1"},
{"competion_id":"34","dancer_id":"6772","class":"Bg","result":"8/38","points":"1"},
{"competion_id":"35","dancer_id":"6772","class":"Bg","result":"15/81","points":"1"},
{"competion_id":"42","dancer_id":"6772","class":"Bg","result":"14/89","points":"1"},
{"competion_id":"44","dancer_id":"6772","class":"Bg","result":"49/127","points":"0"},
{"competion_id":"50","dancer_id":"6772","class":"Bg","result":"11/105","points":"3"},
{"competion_id":"53","dancer_id":"6772","class":"Bg","result":"51/67","points":"0"},
{"competion_id":"57","dancer_id":"6772","class":"Bg","result":"47/128","points":"0"},
{"competion_id":"58","dancer_id":"6772","class":"Bg","result":"19/106","points":"1"},
{"competion_id":"80","dancer_id":"6772","class":"Bg","result":"21/80","points":"1"},
{"competion_id":"86","dancer_id":"6772","class":"Bg","result":"20/102","points":"1"},
{"competion_id":"88","dancer_id":"6772","class":"Bg","result":"79/118","points":"0"},
{"competion_id":"125","dancer_id":"6772","class":"Bg","result":"71/71","points":"0"}]'>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

  </body>
</html>